<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fwglByJspServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.chinasofti.ctrl.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllFwinfo</display-name>
    <servlet-name>SelectAllFwinfo</servlet-name>
    <servlet-class>com.chinasofti.ctrl.SelectAllFwinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllFwinfo</servlet-name>
    <url-pattern>/SelectAllFwinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllByPageFwinfo</display-name>
    <servlet-name>SelectAllByPageFwinfo</servlet-name>
    <servlet-class>com.chinasofti.ctrl.SelectAllByPageFwinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllByPageFwinfo</servlet-name>
    <url-pattern>/SelectAllByPageFwinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFwinfo</display-name>
    <servlet-name>DeleteFwinfo</servlet-name>
    <servlet-class>com.chinasofti.ctrl.DeleteFwinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFwinfo</servlet-name>
    <url-pattern>/DeleteFwinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreInsertFwinfo</display-name>
    <servlet-name>PreInsertFwinfo</servlet-name>
    <servlet-class>com.chinasofti.ctrl.PreInsertFwinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreInsertFwinfo</servlet-name>
    <url-pattern>/PreInsertFwinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFwinfo</display-name>
    <servlet-name>InsertFwinfo</servlet-name>
    <servlet-class>com.chinasofti.ctrl.InsertFwinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFwinfo</servlet-name>
    <url-pattern>/InsertFwinfo</url-pattern>
  </servlet-mapping>
</web-app>